html {
  background: linear-gradient(#648de6, #91b8e5);
}

* {
  box-sizing: border-box;
}

.App {
  height: 100vh;
}

.card-link {
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  &:hover {
    color: red;
  }
}

.hotel-pic {
  border-radius: 10px;
  width: 20vh;
}

.links {
  display: flex;
  color: black;
  a {
    margin: auto;
  }
}

.hotel-page {
  h1 {
    display: flex;
    justify-content: center;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // height: 90vh;
}

.hotel-desc {
  display: flex;
  justify-content: center;
}

.call-btn {
  margin: 0 auto;
  height: 3rem;
  width: 20rem;
  background-color: rgb(17, 77, 15);
  border-radius: 10px;
  border: solid 3px;
  cursor: pointer;
}

.hotel-list {
  margin: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  // justify-content: space-between;
  // justify-content: space-evenly;
  height: 80vh;
  overflow: scroll;
  overflow-x: hidden;
  // width: 80vh;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

// .App {
// }

// and (min-width: $medium) {
//   background-color: red;
// }
// //some CSS
// @media screen and (max-width: $xsmall) {
//   background-color: yellow;
//   .hotel-pic {
//     width: 16vh;
//   }
// }
// @media screen and (max-width: $xxsmall) {
//   background-color: orange;
//   .hotel-pic {
//     width: 13vh;
//   }
// }
// @media screen and (max-width: $xxxsmall) {
//   background-color: blue;
//   .hotel-pic {
//     width: 10vh;
//   }
// }
