.App {
  text-align: center;
}

.links {
  display: flex;
  flex-direction: column;
  color: black;
  background-color: lightblue;
}

.hotel-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  // justify-content: space-between;
  // justify-content: space-evenly;
}

.hotel-card {
  margin: 1rem;
  width: 25vh;
  overflow: hidden; // ?
}

.hotel-pic {
  width: 40vh;
}

.hotels-gallery {
  width: 80vh; // necessary ?
  display: flex;
  flex-wrap: wrap;
}
